<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="BaseAddress" value="https://gsep-int.xxxx.com/"/>
    <add key="RequestTokenAddress" value="jira/plugins/servlet/oauth/request-token"/>
    <add key="AuthorizeAddress" value="jira/plugins/servlet/oauth/authorize?"/>
    <add key="AccessTokenAddress" value="jira/plugins/servlet/oauth/access-token"/>
  </appSettings>
</configuration>